html, body, #container {
	margin: 0;
	padding: 0;	
	height: 100%;
	min-height: 100%;
	
}
body {
	background-image: url(images/leftbkg.gif);
	background-repeat: repeat-y;
}
#header {
	width: 100%;
	min-width: 820px;
	height: 135px;
	background-image: url(images/topbkg.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
}
#menu {	
	position: absolute;
	top: 135px;
	left: 0px;
	padding-top: 55px;
	width: 209px;
	height: 261px;
	overflow: visible;
	background-image: url(images/leftbkgtable.gif);
	background-repeat: no-repeat;
}
.menulink {
	float: left;
	height: 27px;
	width: 187px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;	
	background-image: url(images/button.gif);
	background-repeat:no-repeat;
	line-height: 27px;
	vertical-align:middle;
	padding-left: 37px;
	text-decoration:none;
	margin-bottom: 5px;
	border: 0;
}
.menulink:hover{
	background-image: url(images/buttonover.gif);
	color: #2a476b;
	border: 0;
}
.menulink-active {
	float: left;
	height: 27px;
	width: 187px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #2a476b;	
	background-image: url(images/buttonover.gif);
	background-repeat:no-repeat;
	line-height: 27px;
	vertical-align:middle;
	padding-left: 37px;
	text-decoration:none;
	margin-bottom: 5px;
	border: 0;
}
#content {
	position: absolute;
	top: 140px;
	left: 215px;
	width: 95%;
	min-width: 800px;
	height: 400px;
	margin: 0;
	padding: 0;
}
.cboxtopLft {
	float: left;
	width: 15px; 
	height: 36px;
	background-image:url(images/contable_lcorner.gif);
	background-repeat:no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
.cboxTop {
	width: 83%;
	min-width: 780px; 
	height: 36px; 
	vertical-align: middle;
	background-image:url(images/contenttable_bkgtile.gif);
	background-repeat:repeat-x;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #244b73;
	font-size:18px;
	text-align: center;
	line-height: 36px;
}
.cboxtopRt {
	float: right;
	width: 15px; 
	height: 36px;
	background-image:url(images/contable_rcorner.gif);
	background-repeat:no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
.cboxCtr {
	width: 78%;
	min-width: 720px;  
	padding-top:15px;
	padding-left: 40px;
	vertical-align: middle;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #244b73;
	font-size:14px;
	overflow:auto;

}
.cboxLft {
	float:left;
	width: 15px;
	height: 12px;

}
.cboxRt {
	float:right;
	width: 15px;
	height: 12px;

}
.cboxBottom {
	margin: 0;
	padding:0;
	width: 83%;
	min-width: 780px; 
	height: 12px;

}
.bullet {
	list-style-image: url(images/circlebullet.gif);
	font-family: Arial, Helvetica, sans-serif;
	color: #244b73;
	line-height: 20px;
	font-size:14px;	
}
.ctableTopLft {
	background-image: url(images/contable_lcorner.gif);
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
.ctableTopCtr {
	background-image:url(images/contenttable_bkgtile.gif);
	background-repeat: repeat-x;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #244b73;
	font-size:18px;
	text-align: center;
	line-height: 36px;
	border: 0;
	margin: 0;
	padding:0;
}
.ctableTopRt {
	background-image: url(images/contable_rcorner.gif);
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
.ctableCtrLft {
	border-left: 1px solid #AEC8E3;
	margin: 0;
	padding:0;
}
.ctableCtrCtr {
	padding-top:15px;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 15px;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #244b73;
	font-size:14px;
	overflow:auto;
	border: 0;
	margin: 0;
}
.ctableCtrRt {
	border-right: 1px solid #AEC8E3;
	margin: 0;
	padding:0;
}
.ctableBotLft {
	background-image:url(images/cbox_lbot.gif);
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
.ctableBotCtr {
	background-image:url(images/cbox_botbg.gif);
	background-repeat: repeat-x;
	border: 0;
	margin: 0;
	padding:0;
}
.ctableBotRt {
	background-image:url(images/cbox_rbot.gif);
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	padding:0;
}
